@import './constants.scss';

.bg-white {
    background-color: $white;
}

.bg-dark {
    background-color: $black;
}

.bg-red {
    background-color: $red;
}

.color-white {
    color: $white;
}

.color-dark {
    color: $dark;
}

.color-black {
    color: $black;
}

.color-red {
    color: $red;
}

.color-grey {
    color: $grey;
}

.color-brown {
    color: $brown;
}

.color-green {
    color: $green;
}

.color-blue {
    color: $blue;
}

.color-maroon {
    color: $maroon;
}