// constants 

$one: 1px;
$two: 2px;
$four: 4px;
$five: 5px;
$six: 6px;
$seven: 7px;
$ten: 10px;
$tweleve: 12px;
$fifteen: 15px;
$eighteen: 18px;
$twenty: 20px;
$twentyTwo: 22px;
$twentyFive: 25px;
$thirty: 30px;
$forty: 40px;
$forty-five: 45px;
$fifty: 50px;
$sixty: 60px;
$seventy: 70px;
$seventy-five: 75px;
$hundred: 100px;
$oneHundredTwentySeven: 127px;

// colors

$white: #ffffff;
$black: #000000;
$dark: #333;
$red: #c60c30;
$grey: #666666;
$brown: #b15a03;
$green: #1f5a2d;
$blue: #305291;
$maroon: #b14242;
$light-grey: #bcbcbc;